body {
    direction: rtl !important;
    text-align: right !important;
}
details summary::-webkit-details-marker {
  display:none;
}
details > summary:first-of-type {
    list-style-type: none;
}
.tr-color-selected{
    background-color: hsla(196, 77%, 55%, 0.3) !important;
    transition: all .2s ease-in;
}
#logo {
    width: 30%;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.final-icon {
    width: 10%;
    height: 10%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
#final-icon:hover {
    opacity: 0.8;
}
.form-control { display: inline-block !important; }

/* excel file select */
#select-warper{
    display: block;
    margin: 0 auto;
    width: 30em;
}
h3{
    text-align: center;
}
 .select {
    position: relative;
    display: inline-flex;
    margin: 0 auto;
    direction: ltr;
    width: 22em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 }
 #select-excel {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 #select-excel::-ms-expand {
    display: none;
 }
 #view-excel {
    display: inline-flex;
    width: 3em;
    height: 3em;
    margin:1em;
}